<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
 <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
 <string>ca-app-pub-3940256099942544/2934735716</string>
 <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
 <string>ca-app-pub-3940256099942544/4411468910</string>
 <key>CLIENT_ID</key>
 <string>460966562683-li80tt0p9ujtserhb63vv2ep1gp4kahp.apps.googleusercontent.com</string>
 <key>REVERSED_CLIENT_ID</key>
 <string>com.googleusercontent.apps.460966562683-li80tt0p9ujtserhb63vv2ep1gp4kahp</string>
 <key>API_KEY</key>
 <string>AIzaSyDW-lYX8YaFDI0x5jAis1xMSiGgBuqnRg4</string>
 <key>GCM_SENDER_ID</key>
 <string>460966562683</string>
 <key>PLIST_VERSION</key>
 <string>1</string>
 <key>BUNDLE_ID</key>
 <string>com.nextlatam.cajaarequipa</string>
 <key>PROJECT_ID</key>
 <string>cajaalbum</string>
 <key>STORAGE_BUCKET</key>
 <string>cajaalbum.appspot.com</string>
 <key>IS_ADS_ENABLED</key>
 <true/>
 <key>IS_ANALYTICS_ENABLED</key>
 <false/>
 <key>IS_APPINVITE_ENABLED</key>
 <false/>
 <key>IS_GCM_ENABLED</key>
 <true/>
 <key>IS_SIGNIN_ENABLED</key>
 <true/>
 <key>GOOGLE_APP_ID</key>
 <string>1:460966562683:ios:b0fb28be11e59970</string>
 <key>DATABASE_URL</key>
 <string>https://cajaalbum.firebaseio.com</string>
 </dict>
</plist>

